/******************RESPONSIVE VALUES*********************/


/********************COLOR VALUES************************/


/****COLORS AND BACKGROUND APPLICATIONS********************/

* {
    font-family: "Open Sans", sans-serif;
    color: #ffe661;
}

html {
    background-color: rgb(20, 20, 20);
}

.topbar-link {
    text-decoration:none;
}

.topbar {
    list-style-type:none;
}

.banner-title {
    font-size:55px;
}

.banner-welcome__h2 {
    color: #ffe661;
    text-align: center;
}